# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Ruby files
[*.rb]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Gemfile and other Ruby-like files
[{Gemfile,Rakefile,*.gemspec}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
indent_size = 4

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# GitHub Actions
[.github/**/*.{yml,yaml}]
indent_style = space
indent_size = 2