jira:
  hostname: 'http://example.atlassian.net'
  filter:   'status != Closed and status != Resolved and issue in watchedissues()'
  parenttaskfield: 'customfield_10040'
omnifocus:
  context:  'Office'
  project:  'Jira'
