<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" \
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
      <string>jofsync</string>
    <key>WorkingDirectory</key>
      <string>/Users/cgarrigues/GitHub/jira-omnifocus/bin</string>
    <key>Program</key>
      <string>./jiraomnifocus.rb</string>
    <key>StartInterval</key>
      <integer>300</integer>
    <key>Debug</key>
      <false/>
    <key>AbandonProcessGroup</key>
      <true/>
    <key>ProcessType</key>
      <string>Interactive</string>
  </dict>
</plist>