---
jira:
  hostname: 'http://example.atlassian.net'
  keychain: false
  username: 'me'
  password: 'secret'
  filter:   'assignee = currentUser() AND status not in (Closed, Resolved)'
omnifocus:
  context:  'Office'   # The default OF Context where new tasks are created.
  project:  'Jira'     # The default OF Project where new tasks are created.
  flag:     true       # Set this to 'true' if you want the new tasks to be flagged.
  inbox:    false      # Set 'true' if you want tasks in the Inbox instead of in a specific project.
  newproj:  false      # Set 'true' to add each JIRA ticket to OF as a Project instead of a Task.
  folder:   'Jira'     # Sets the OF folder where new Projects are created (only applies if 'newproj' is 'true').